.User-set
  = render 'items/top_header'

  .User-set__Complete
    .User-set__Complete__Title
      = "登録が完了しました"
    .User-set__Complete__Button
      = link_to " トップへ戻る ", "/", class: 'Button_UserButton'

  = render 'items/bottom_footer'
