= render 'items/top_header'

.right-credit-header
  支払い方法
  .right-credit-contents
    .right-credit-contents__text
      クレジットカード一覧
    .right-credit-contents__add-card
      %bottun.right-credit-contents__add-card__add-button{type: "button"} クレジットカードを追加する

    .right-credit-contents__about-regist
      支払い方法について

= render 'items/bottom_footer'