.Notification {
  .notice {
    background-color: #3CCACE;
    color: #fff;
    text-align: center;
    height: 45px;
    font-size: 15px;
    padding-top: 12px;
  }

  .alert {
    background-color:rgb(229, 83, 166);
    color: #fff;
    text-align: center;
    height: 45px;
    font-size: 15px;
    padding-top: 12px;
  }
}