.Notification {
  .notice {
    background-color: #3CCACE;
    color: #fff;
    text-align: center;
  }

  .alert {
    background-color:rgb(231, 41, 148);
    color: #fff;
    text-align: center;
  }
}