.Appbanner
  .Appbanner__contents
    .Appbanner__contents__inner
      だれでも簡単、人生を変えるフリマアプリ
    .Appbanner__contents__inner--text
      今すぐ無料ダウンロード
    .Appbanner__contents__inner--btn
      = link_to (image_tag 'AnyConv.com__Download_on_the_App_Store_Badge_US-UK_blk_092917.png', class:'appbtn'),'#'
      = link_to (image_tag 'google-play-badge (1).png' , class:'googlebtn' , width: '190'),'#'
