-# ルーティングのroot item#newを最後に戻すこと
.Wrapper
.Top
-#  下記をrenderで持ってこれるように切り分ける
-# .Header
-#   =render ""

.MainField
  .Contents
    .ItemInfo
      .ItemInfo__text
        商品画像
      .ItemInfo__text--require
        ※必須
      .ImageField
        .ImageField__image
          写真１
        .ImageField__image
          写真２
        .ImageField__image
          写真３
        .ImageField__image
          写真４  
    .ItemInfo
      .ItemInfo__text
        商品名 
      .ItemInfo__text--require
        ※必須
      .ItemInfo__name--form
        ここは商品名の入力フォーム
      .ItemInfo__text
        商品説明（１０００文字以内）
      .ItemInfo__detal--form
        ここは説明入力フォーム
    .ItemInfo
      .ItemInfo__text
        カテゴリ
      .ItemInfo__text--require
        ※必須
      .ItemInfo__category--form
        カテゴリ選択フォーム
      .ItemInfo__text
        ブランド（任意）
      .ItemInfo__brand--form
        ブランド選択フォーム
      .ItemInfo__text
        商品の状態
      .ItemInfo__text--require
        ※必須
      .ItemInfo__condition--form
        商品状態選択フォーム
    .ItemInfo
      .ItemInfo__text
        配送料負担
      .ItemInfo__text--require
        ※必須
      .ItemInfo__shippingFee--form
        配送料負担選択フォーム
      .ItemInfo__text
        発送地
      .ItemInfo__text--require
        ※必須
      .ItemInfo__shippingfrom--form
        発送地選択フォーム
      .ItemInfo__text
        出荷までの日数
      .ItemInfo__text--require
        ※必須
      .ItemInfo__oraparationDay--form
        出荷までの日数選択フォーム
    .ItemInfo
      .ItemInfo__text
        価格
      .ItemInfo__text--require
        ※必須
      .ItemInfo__price--form
        価格選択フォーム
    .ButtonField
      .Button__submit
        出品ボタン
      .Button__save
        下書き保存ボタン
.Bottom
  ここにフッター




