* {
  box-sizing: border-box;
}

.Header {
  padding: 0 60px;
}
.Header__box {
  max-width: 1040px;
  width: 100%;
  min-height: 82px;
  padding: 15px 0 0;
  margin: 0 auto;
  &__main {
    position: relative;
    display: flex;
    align-items: center;
    &__icon {
      padding-bottom: 10px;
      margin-right: 30px;
      border-radius: 4px;
    }
    &__searchbox {
      width: 100%;
      margin-left: auto;
      &__inputbox {
        width: calc(100% - 26px);
        height: 36px;
        padding: 0 0 0 5px;
        display:flex;
        .icon__search {
          width: 36px;
          margin-bottom: 5px;
          border: 0;
          cursor: pointer;
          background-color: #3CCACE;
          padding: 8px;
        }
      }
    }
  }
  &__action {
    font-size: 14px;
    display: flex;
    margin-bottom: 10px;
    &__lists {
      position: relative;
      display:flex;
      text-align: center;
      &__category {
        text-decoration: none;
        padding: 0;
      }
      &__brand {
        padding: 0 0 0 16px;
      }
    }
    &__user {
      margin-left: auto;
      display: flex;
      &__login {
        color: #333;
        line-height: 38px;
        padding: 0 0 0 16px;
      }
      &__new {
        color: #333;
        line-height: 38px;
        padding: 0 0 0 16px;
      }
    }
  }
}
.Main_visual {
  background-color:#f8f8f8;
  &__body {
    height: 560px;
    background-image: image-url('/assets/material/pict/bg-mainVisual-pict_pc.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    position: relative;
    padding: 0 60px;
    align-items: center;
    &__main {
      max-width: 1280px;
      width: 100%;
      margin: 0 auto;
      padding: 35px 0 0 0;
      height: 336.33px;
      &--top {
        text-shadow: 0 0 5px rgba(0,0,0,0.4);
        font-size: 60px;
        line-height: 1.2;
        color: #fff;
      }
      &--middle {
        text-shadow: 0 0 5px rgba(0,0,0,0.4);
        font-size: 18px;
        color: #fff;
        line-height: 1.77778;
        margin: 16px 0 0 0;
      }
      &--btn {
        margin: 24px 0 0 0;
        .googlebtn{
          width: 190px;
          position:relative;
          top: 10px;
        }
      }
    }  
  }
}
.Top_introduction{
  .Top_introduction__box {
    padding: 60px 20px;
    font-family: "Source Sans Pro", Helvetica, Arial, "游ゴシック体", "YuGothic", "メイリオ", "Meiryo", sans-serif;
    &--subtitle {
      text-align: center;
      font-size: 26px;
      line-height: 1.4;
      font-weight: bold;
      margin-bottom: 25px;
      padding-bottom: 15px;
      position: relative;
    &--line {
      content: "";
      width: 70px;
      height: 4px;
      background-color: #3CCACE;
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
    &__lists {
        list-style: none;
        margin-block-start: 1em;
        margin-block-end: 1em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        padding-inline-start: 40px;
        font-size: 14px;
        display: flex;
        margin-bottom: 10px;
      .number{
        display: inline-block;
        position: absolute;
        top: 0;
        left: 0;
        border-radius: 4%;
        font-size: 30px;
        text-align: center;
        margin: 0 5px 0 0;
        padding: 10px 20px;
        background-color: #3CCACE;
        color: #fff;
      }
    }
    }
    }
  }
}









