.right-credit-header{
  background: white;
  border-bottom: 1px solid #f5f5f5;
  font-size: 24px;
  font-weight: bold;
  line-height: 1.4;
  text-align: center;
  padding: 8px 0;
  width: 50vw;
  margin: 50px 60px 50px 360px;
}

.right-credit-contents{
  background: white;
  border-top: 1px solid #f5f5f5;
  width: 40vw;
  margin-right: 15vw;
  padding: 72px;
  &__text{
    margin-left: 122px;
  }
  &__add-card{
    border-bottom: 1px solid #f5f5f5;
    padding: 24px;
    &__add-button{
      background: #ea352d;
      color: #fff;
      display: block;
      width: 320px;
      line-height: 48px;
      font-size: 14px;
      cursor: pointer;
      text-align: center;
      margin-left: 100px;
      text-decoration: none;
    }
  }
  &__about-regist{
    font-size: 14px;
    color: #0099E8;
    margin: 12px 0 0 140px;
  }
}