.main-contents {
  float: right;
  width: 700px;
  margin: 0;
  background: #fff;
  .chapter__container {
    background: #fff;
    width: 700px;
    margin: 0 auto;

    .chapter__head {
      font-size: 24px;
      padding: 8px 24px;
      border-bottom: 1px solid #f5f5f5;
      text-align: center;
      font-weight: bold;
    }
    .payment__main{
      padding: 64px;
      border-top: 1px solid #f5f5f5;

      .payment__list {
        max-width: 320px;
        margin: 0 auto;

        .sub__head {
          font-size: 16px;
          font-weight: bold;
        }
      }
      .card__payment__list{
        max-width: 320px;
        margin: 0 auto;
        padding: 24px 0;
        border-bottom: 1px solid #eee;

         .card__number {
           margin: 8px 0 0;
           font-size: 16px;
         }
         .expire__date {
           margin: 8px 0 0;
           font-size: 16px;
         }
         .delete__button {
           position: relative;
           bottom: 0px;
           padding: 4px 6px;
           border-radius: 3px;
           border: 1px solid red;
           color: white;
           background-color: red;
         }
         .toppage_btn{
          height: 50px;
          color:white;
          text-align: center;
          background-color: lightblue;
          margin-top: 30px;
          padding-top: 12px;
          width: 100%;
          text-decoration: none;
          font-size: 18px;
          border-radius: 2%;
        }
      }
    }
  }
}